# Базовые зависимости (обычная установка)
# pyrogram is outdated; switch to actively maintained PyroTGFork
pyrotgfork
aiohttp
aiofiles
requests<3,>=2.8.1
fastapi
uvicorn[standard]
jinja2
python-multipart
psutil
TgCrypto>=1.2.5
moviepy==1.0.3
tldextract
pillow
chardet
sdnotify
firebase-admin
bgutil-ytdlp-pot-provider

# Только для yt-dlp — разрешить пре-релизы и переустановить «с нуля»
--pre
yt-dlp[default,curl-cffi]
# Gallery-dl для скачивания картинок
gallery-dl
